*.class

# Package Files #
*.jar
*.war
*.ear

# Test Files #
cl/*.txt

/auto/*
/rapport.aux
/rapport.log
/rapport.out
/rapport.pdf
/rapport.bbl
/rapport.blg
/rapport.toc
/pres.aux
/pres.log
/pres.nav
/pres.out
/pres.pdf
/pres.snm
/pres.toc
/pres.bbl
/pres.blg
